.container {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.header {    
    padding-top: 20px;       
}

.header__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.header__title {
    margin: 0;
    font-size: 26px;    
}

.tournament {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tournament__title {
    font-size: 20px;
}

.tournament-form__input {
    width: 41px;
    height: 33px;
    padding: 5px;
    background-color: #a5a09c;
    border-color: #a5a09c;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: white;
    border-radius: 5px;    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-image: url("../image/ball.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 22px;    
}

.tournament-form__input:hover,
.tournament-form__input:active,
.tournament-form__input:focus {
    outline: none;
    box-shadow: none;
}

.tournament__separator {
    padding: 10px 0;
    font-weight: bold;    
}

.tournament__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 280px;
}

.tournament-form__team-name {
    height: 33px;    
    background-color: #a5a09c;
    border-color:  #a5a09c;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: white;
    border-radius: 5px;
}

.tournament-form__team-name:hover,
.tournament-form__team-name:active,
.tournament-form__team-name:focus {
    outline: none;   
    box-shadow: none;
}

.tournament-form__button-add-result {
    margin: 20px;
    margin-bottom: 0;
    width: 100%;
    height: 60px;    
    background-color: rgb(230, 59, 68);
    border: 3px solid rgb(230, 59, 68);
    box-shadow: 0 0 9px rgba(0,0,0,0.7);
    border-radius: 10px;
    font-weight: bold;    
    box-sizing: border-box;
    text-transform: uppercase;
    color: white;
}

.tournament-form__button-add-result:hover,
.tournament-form__button-add-result:active,
.tournament-form__button-add-result:focus {
    outline: none;   
    box-shadow: none;    
}

.tournament-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.tournament-wrapper__title {
    font-size: 20px;    
}

.tournament-table {
    background-color: rgba(51, 153, 51, 0.5);
    color: black;
    margin-bottom: 30px;
    border-collapse: collapse;
    font-size: 20px;
    width: 100%;       
}

.tournament-table__string:nth-child(3) {
    background-color: white;
}

.tournament-table__title-cell {    
    background-color: rgba(51, 153, 51, 1);
    color: white;
}

.tournament-table__cell {   
    text-align: center;
    padding: 10px;    
}
